*{
    margin: 0;
    padding: 0;
}
.btn{
   background-color:#4CAF4F ;
   border: none;
}
span{
    color: #4CAF4F;
}
.navbar-nav{
    margin-left: 900px;
    margin-top: 2px;
    padding: 0px;
}
.navbar {
    background-color: #FFFFFF;
}
.hero{
    background-color: #F5F7FA;
    height: 700px;
}
.image{
    width: 50px;
    justify-content: center;
    align-items: center;
}
.hero{
    border: none;
}
.business{
    background-color: #F5F7FA;
    height: 300px;
}
.aisha{
     background-color: #F5F7FA;
    margin-bottom: 10px;

    height: 400px;
}
.vscode{
    margin-left: 700px;
    border-radius: 1px;
}
.paragraph{
    background-color:#F5F7FA ;
    padding-top: 20px;
    margin-top: 10px;
}
.assignment{
    background-color: black;
}