*{
    margin: 0;
    padding: 0;
}
.btn{
   background-color:#4CAF4F !important;
   color: white !important;
   border: none;

}
span{
    color: #4CAF4F;
}
.navbar-nav{
    
    margin-top: 2px;
    padding: 0px;
}
.navbar {
    background-color: #FFFFFF;
}
.hero{
    background-color: #F5F7FA;
    height: 700px;
}
.image{
    width: 50px;
    justify-content: center;
    align-items: center;
}
.hero{
    border: none;
}
.business{
    background-color: #F5F7FA;
    height: 300px;
}
.assi{
    background-color: #F5F7FA !important;
    width: 100%;
}

/* helping section */
.helping-section-wrapper {
  background: rgba(245, 247, 250, 1);
  width: 100%;
}
/* second last section */
.secondlast-section{
  text-align: center;
  
}
.secondlast-section h1{
color: rgba(38, 50, 56, 1);
opacity: 1;
}

/* footer section */
.footer-section {
  background: rgba(38, 50, 56, 1);
  color:rgba(245, 247, 250, 1);
  width: 100%;
 
}

.footer-section h3 {
  color:rgba(245, 247, 250, 1);

}

.footer-section p,
.footer-section a,
.footer-section li{

  color:rgba(245, 247, 250, 1);

}

.footer-section ul {
  padding-left: 0;
  list-style: none;
}